<h2>住所情報登録</h2>

<%= form_for @address do |f| %>
  <%= render "devise/shared/error_messages", resource: @address %>

  <div class="field">
    <%= f.label :"郵便番号" %><br />
    <%= f.text_field :postal_code , placeholder: "例)111-1111" %>
  </div>

  <div class="field">
    <%= f.label :"都道府県" %><br />
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :"市区町村" %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :"番地" %><br />
    <%= f.text_field :block %>
  </div>

  <div class="field">
    <%= f.label :"アパート号室" %><br />
    <%= f.text_field :apartment %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>