.wrapper
  .LinkList
    .LinkList__main
      = link_to user_path(current_user), class: 'LinkList__main--list leftActive' do
        マイページ
        %span.fas.fa-greater-than.greater
      %p.LinkList__main--list
        お知らせ
        %span.fas.fa-greater-than.greater
      %p.LinkList__main--list 
        ニュース
        %span.fas.fa-greater-than.greater
      = link_to new_product_path, class: 'LinkList__main--list' do
        出品する
        %span.fas.fa-greater-than.greater
      %p.LinkList__main--list 
        出品した商品
        %span.fas.fa-greater-than.greater
      %p.LinkList__main--list 
        購入した商品
        %span.fas.fa-greater-than.greater
      %p.LinkList__main--list 
        ガイド
        %span.fas.fa-greater-than.greater
      %p.LinkList__main--list 
        お問い合わせ
        %span.fas.fa-greater-than.greater
    .LinkList__config
      %h3.LinkList__config--top 設定
      %p.LinkList__config--list 
        プロフィール
        %span.fas.fa-greater-than.greater
      %p.LinkList__config--list 
        発送元、お届け先
        %span.fas.fa-greater-than.greater
      = link_to card_users_path, class: 'LinkList__config--list' do
        支払い方法
        %span.fas.fa-greater-than.greater
      = link_to destroy_user_session_path, method: :delete, class: 'LinkList__config--list' do
        ログアウト
        %span.fas.fa-greater-than.greater
  .UserData
    .UserData__data
      .UserData__data--icon 
      %p.UserData__data--name #{current_user.nickname}
    .UserData__info
      .UserData__notice.rightActive
        %h3 お知らせ
      .UserData__notice
        %h3 ニュース
    .UserData__contents1#notice
    .UserData__contents1#news
    .UserData__bought
      %h3 購入した商品
    .UserData__contents2
      .noData
      %p.noDataText 購入した商品が存在しません
