= form_with model: @product, local: true do |f|
  商品名#{f.text_field :name, required: true}
  %br/
  説明#{f.text_area :detail, required: true}
  %br/
  価格#{f.number_field :price, required: true}
  %br/
  カテゴリー#{f.collection_select :category, @category, :id, :name, { prompt: "---" }, { class: "category_select-box", id: "category_select",required: true }}
  %i.fa.fa-chevron-down
  .product_select-children
  -# カテゴリー
  -# %span.sell-title__require
  -#   必須
  -# .sell-collection_select
  -#   = f.label :category_id, {class: 'sell-collection_select__label'} do
  -#     = f.collection_select :category_id, @category_parent, :id, :name, {prompt: "選択して下さい"},{ class: 'sell-collection_select__input', id: 'category-select', required: "required"}
  -#     %i.fas.fa-chevron-down
  -# .error-messages#error-category
  -# .listing-form-box
  -#   %span.listing-default--require カテゴリー
  -#   .listing-select-wrapper
  -#     .listing-select-wrapper__box
  -#       //親カテゴリーのセレクトボックスの生成
   
  -# カテゴリー#{f.select :category_id, @category_parent_array, {}, {id: 'parent_category'}}
  -# = f.collection_select :category, @parents.all, :id, :name, prompt:"---", name: "parent_box", id: 'parent_category'
  -# .exhibitmain__details__category-box2
  -#   = f.collection_select :child_id, {}, :id, :name, class: "child_category"
  -# .exhibitmain__details__category-box3
  -#   = f.collection_select :category_id, {}, :id, :name, class: "grandchild_category"
  -# %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down
  %br/
  ブランド名#{f.select :brand_id, Product.brand_ids.keys, {prompt:"---"}}
  %br/
  サイズ#{f.select :size, Product.sizes.keys, {prompt:"---"}}
  %br/
  商品の状態#{f.select :condition, Product.conditions.keys, required: true}
  %br/
  配送方法#{f.select :shipping, Product.shippings.keys, required: true}
  %br/
  配送料#{f.select :fee, Product.fees.keys, required: true}
  %br/
  配送までの日数#{f.select :day, Product.days.keys, required: true}
  %br/
  配送元#{f.select :prefecture_id, Product.prefecture_ids.keys, required: true}
  %br/
  画像
  #image-box
    #previews
      - if @product.persisted?
        - @product.images.each_with_index do |image, i|
          = image_tag image.src.url, data: { index: i }, width: '100', height: '100'
    = f.fields_for :images do |i|
      .js-file_group{ data: { index: i.index } }
        = i.file_field :src, class: 'js-file'
        %br/
        %span.js-remove 削除
      - if @product.persisted?
        = i.check_box :_destroy, data: { index: i.index }, class: 'hidden-destroy'
    - if @product.persisted?
      .js-file_group{ data: { index: @product.images.count } }
        = file_field_tag :src, name: "product[images_attributes][#{@product.images.count}][src]", class: 'js-file'
        .js-remove 
          削除

  = f.submit
