#container
  #logo
    = image_tag("logo.png", width: 200)
  #main
    = form_with model: @product, local: true do |f|
      #images
        %b 出品画像
        %span （ドラッグアンドドロップで画像を追加できます。）
        #image-box-1
          .item-num-0#image-box__container
            = f.fields_for :images do |i|
              .input-area
                = i.file_field :image, type: 'file', name: "product[images_attributes][][src]", value:"", style: "display:none", id:"img-file"
                %label{for: "img-file"}
                  %i.fas.fa-camera
      #description
        %b 商品名
        %span.necessary 必須
        = f.text_field :name, required: true
        %br/
        %b 商品の説明
        %span.necessary 必須
        = f.text_area :detail, required: true
        %br/
      #about
        %b カテゴリー
        %span.necessary 必須
        - if @product.persisted?
          .listing-select-wrapper--edit
            .listing-select-wrapper--edit__parent
              = f.collection_select :category_id, Category.roots, :id, :name ,{prompt: "選択してください", selected:  @product.category.parent.parent_id}, {class: 'listing-select-wrapper--edit__parent--select', id: 'parent_category_edit', name: "" }
            .listing-select-wrapper--edit__child
              = f.collection_select :category_id, @product.category.parent.parent.children, :id, :name ,{prompt: "選択してください", selected: @product.category.parent_id}, {class: 'listing-select-wrapper--edit__child--select', id: 'child_category_edit', name: "" }
            .listing-select-wrapper--edit__grandchild
              = f.collection_select :category_id,@product.category.parent.children, :id, :name ,{prompt: "選択してください", selected: @product.category.id}, {class: 'listing-select-wrapper--edit__grandchild--select', id: 'grandchild_category_edit', name: "product[category_id]" }
        - else
          = f.collection_select :category, @category, :id, :name, { prompt: "選択してください" }, { class: "category_select-box", id: "category_select",required: true }
          .product_select-children
        %br/
        %b ブランド
        %span.option 任意
        = f.select :brand_id, Product.brand_ids.keys, { prompt: "選択してください" }, class: 'formBox'
        %br/
        %b 商品の状態
        %span.necessary 必須
        = f.select :condition, Product.conditions.keys, { prompt: "選択してください" }, required: true
        %br/
        %b サイズ
        %span.option 任意
        = f.select :size, Product.sizes.keys, { prompt: "選択してください" }, class: 'formBox'
        %br/
      #shipping
        %b 配送料の負担
        %span.necessary 必須
        = f.select :fee, Product.fees.keys, { prompt: "選択してください" }, required: true
        %br/
        %b 配送元の地域
        %span.necessary 必須
        = f.select :prefecture_id, Product.prefecture_ids.keys, { prompt: "選択してください" }, required: true
        %br/
        %b 配送までの日数
        %span.necessary 必須
        = f.select :day, Product.days.keys, { prompt: "選択してください" }, required: true
        %br/
        %b 配送方法
        %span.necessary 必須
        = f.select :shipping, Product.shippings.keys, { prompt: "選択してください" }, required: true
        %br/
      #pricing
        .left
          %b 販売価格
          %span.necessary 必須
        .right
          %span ¥
          = f.number_field :price, required: true, class: 'formBox'
      #btns
        = f.submit "出品する", class: 'btn1'
        = link_to("下書きに保存", "#", class: "btn2")
        = link_to("もどる", root_path, class: "background")

    .warning
      禁止された
      %span.certification 行為
      および
      %span.certification 出品物
      を必ずご確認ください。
      %span.certification 偽ブランド品
      や
      %span.certification 盗品物
      などの販売は犯罪であり、
      %br
      法律により処罰される可能性があります。また、出品をもちまして
      %span.certification 加盟店規約
      に同意したことになります。

  #footer
    .f-btns
      = link_to("プライバシーポリシー", "#", class: "f-letter")
      = link_to("フリマ利用規約", "#", class: "f-letter")
      = link_to("特定商取引に関する表記", "#", class: "f-letter")
    
    .f-logo
    .author
      ©︎ Furima, Inc.
