= form_with(model: @product, local: true) do |f|
  #image-box-1
    .item-num-0#image-box__container
      = f.fields_for :images do |i|
        = i.file_field :image, type: 'file', name: "product[images_attributes][][product_image]", value:"", style: "display:none", id:"img-file"
        %label{for: "img-file"}
          %i.fas.fa-camera
  .Forms
    = f.text_field :name, placeholder: '商品名', required: true
    = f.text_area :detail, placeholder: '商品説明', required: true
    -# = f.collection_select :category_id, Category.all.limit(13), :id, :name, {prompt:"---"}
    = f.select :brand_id, Product.brand_ids.keys, {prompt:"---"}
    = f.select :size, Product.sizes.keys, {prompt:"---"}
    = f.select :condition, Product.conditions.keys, {prompt:"---"}, required: true
    = f.select :method, Product.methods.keys, {prompt:"---"}
    = f.select :fee, Product.fees.keys, required: true
    = f.select :prefecture_id, Product.prefecture_ids.keys, {prompt:"---"}, required: true
    = f.select :day, Product.days.keys, required: true
    = f.text_field :price, required: true
    = f.submit "出品"