= form_for @product do |f|
  = f.text_field :name, placeholder: 'name'
  #image-box
    = f.fields_for :images do |i|
      .js-file_group{ data: { index: i.index } }
        = i.file_field :image_url, class: 'js-file'
        %span{ class: 'js-remove' }削除
  = f.submit 'SEND'