!!!
%html{lang: "ja"}
%head
  %meta{"charset":"UTF-8"}
  %link{"href": "style.scss", "rel": "stylesheet"}
%body
  .product
    %h1.product_title
      = @product.name
    %div.product-image
      - @product.images.each do |image|
        = image_tag "#{image.src.url}"
    %table.product-dateil
      %tbody
        %tr
          %th
            出品者
          %td
            = @product.user.nickname
        %tr
          %th
            カテゴリー
          %td
            = @parent.name
            %br
            = @child.name
            %br
            = @grandchild.name
        %tr
          %th
            ブランド
          %td
            = @product.brand_id
        %tr
          %th
            商品サイズ
          %td
            = @product.size
        %tr
          %th
            商品の状態
          %td
            = @product.condition
        %tr
          %th
            配送料負担
          %td
            = @product.fee
        %tr
          %th
            発送方法
          %td
            = @product.shipping
        %tr
          %th
            配送元地域
          %td
            = @product.prefecture_id
        %tr
          %th
            発送日の目安
          %td
            = @product.day
        %tr
    .product-price
      =  "#{@product.price}円"
    .more-list
      - if user_signed_in? && current_user.id == @product.user_id
        = link_to '商品の編集', edit_product_path(@product.id)
        %p
          or
        = link_to '出品を一旦停止する'
        = link_to 'この商品を削除する', product_path(@product.id), method: :delete
      - elsif @product.buyer_id.present?
        = link_to '売り切れました', products_path
      - else
        %div#buy-button
          = link_to "購入画面に進む", purchase_path(@product.id)
        .exhibitor-comment
        test
        test
        test
        test
        test
        test
        test
      %form.comment{:action => "", :method => "get"}
        %p.attention
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.comment_text
      %button.comment_btn
        %span
          コメントする
          