.Header
  .Header__top
    = link_to root_path do
      = image_tag 'logo.png', class: 'Header__top--logo'
    = form_tag("#") do
      %input.Header__top--search{placeholder: '何かお探しですか？'}
    %i.fas.fa-search.Header__top--icon
  .Header__bottom
    .Header__bottom__left
      .Header__bottom__tag#category
        = image_tag 'icon_category.png', class: 'icon'
        %p カテゴリーから探す
      .Header__bottom__tag
        = image_tag 'icon_brand.png', class: 'icon'
        %p ブランドから探す
    .Header__bottom__right
      .Header__bottom__notice
        %i.far.fa-bell.Header__bottom__notice--icon
        %p.Header__bottom__notice--text お知らせ
      - if user_signed_in?
        .Header__bottom__mypage
          = image_tag 'icon.png', class: 'Header__bottom__mypage--icon'
          = link_to 'マイページ', user_path(current_user), class: 'Header__bottom__mypage--text'
      - else
        .Header__bottom__mypage
          = link_to '新規登録', new_user_registration_path, class: 'Header__bottom__mypage--text', id: 'signUp'
          = link_to 'ログイン', new_user_session_path, class: 'Header__bottom__mypage--text'

